
<div class="container">
  <h1 class="text-center">Code Astra College</h1>
  <div class="row">
    <div class="col-md-2">
      <klass-list [klassList]="klasses"
      (onKlassClick)="loadSections($event)"></klass-list>
    </div>
    <div class="col-md-3">
      <section-list [sectionList]="sections"
      (onSectionClick)="loadStudents($event)"></section-list>
    </div>
    <div class="col-md-3">
      <app-students [studentList]="students"
      (onStudentClick)="loadStudentDetails($event)"
      ></app-students>
    </div>
    <div class="col-md-4">
      <app-studentdetail
      [studentDetail]="student"
      ></app-studentdetail>
    </div>
  </div>
</div>
