
<div class="container">
  <h1 class="text-center">Code Astra College</h1>
  <div class="row">
    <div class="col-md-2">
      <klass-list [klassList]="klasses"
      (onKlassChange)="reloadSections($event)"></klass-list>
    </div>
    <div class="col-md-3">
      <section-list [(sectionList)]="sections"
      (onSectionChange)="reloadStudents()"></section-list>
    </div>
    <div class="col-md-3">
      <h3>Students</h3>
    </div>
    <div class="col-md-3">
      <h3>Student Details</h3>
    </div>
  </div>
</div>
