<div class="panel panel-info" *ngIf='student'>
  <div class="panel-heading">
      <b>Student Details</b>
      <a href="#" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-pencil pull-right"></i></a>
   </div>
   <div class="list-group">
     <div class="list-group-item">
          <p><b>Roll Number</b> &nbsp;{{student.roll_number}}</p>
          <p><b>Name</b> &nbsp;{{student.name}}</p>
          <p><b>Fathers Name</b> &nbsp;{{student.fathers_name}}</p>
          <p><b>Email</b> &nbsp;{{student.email}}</p>
          <p><b>Gender</b> &nbsp;{{student.gender}}</p>
          <p><b>Dob</b> &nbsp;{{student.dob}}</p>
          <p><b>Phone</b> &nbsp;{{student.phone}}</p>
          <p><b>Address</b> &nbsp;{{student.address}}</p>
     </div>
   </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" *ngIf="student">
        <p><input [(ngModel)]= 'student.name'/></p>
        <p><input [(ngModel)]= 'student.fathers_name' /></p>
        <p><input [(ngModel)]= 'student.email'/></p>
        <p><input [(ngModel)]= 'student.gender'/></p>
        <p><input [(ngModel)]= 'student.dob'/></p>
        <p><input [(ngModel)]= 'student.phone'/></p>
        <p><input [(ngModel)]= 'student.address'/></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)='editstudent(student)'>Save changes</button>
      </div>
    </div>
  </div>
</div>
