<div class="panel panel-info" *ngIf='student'>
  <div class="panel-heading">
      <b>Student Details</b>
   </div>
   <div class="list-group">
     <div class="list-group-item">
          <p><b>Roll Number</b> &nbsp;{{student.roll_number}}</p>
          <p><b>Name</b> &nbsp;{{student.name}}</p>
          <p><b>Fathers Name</b> &nbsp;{{student.fathers_name}}</p>
          <p><b>Email</b> &nbsp;{{student.email}}</p>
          <p><b>Gender</b> &nbsp;{{student.gender}}</p>
          <p><b>Dob</b> &nbsp;{{student.dob}}</p>
          <p><b>Phone</b> &nbsp;{{student.phone}}</p>
          <p><b>Address</b> &nbsp;{{student.address}}</p>
     </div>
   </div>
</div>
